:root {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

header {
    height: 125px;
    padding: 2px;
    }

body {
    margin-right: 2em;
    min-width: 300px;
    max-width: 700px;
    margin: 0 auto;
}

main {
    min-height: 70vh;
    min-height: calc(100vh - 185px);
    padding: 2px;
}

ul {
    padding: 1px;
    margin-left: -10px;
}

ul li {
    display: inline; 
    padding: 1px;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: capitalize;
    margin: 0;
}

.redline {
    border-left: 2px solid red;
    border-right: 2px solid red;
}

ul li:hover {
    background-color: rgba(244, 165, 96, 0.397);
    cursor: pointer;
}

nav {
    border-top: dashed 1px rgb(184, 8, 8);
    border-bottom:dashed 1px rgb(184, 8, 8);
    padding: 4px;
}

ol {
    list-style: none;
    display: list-item;
    text-transform: uppercase;
    counter-reset: catalog;
}

ol li {
    color: rgb(23, 23, 170);
    background-color: rgba(163, 191, 245, 0.76);
    margin: 1px;
    width: 7em;
    border-radius: 2px;
    margin-left: 37px;
}

ol li::before {
    content: "1";
    color: white;
    background-color: rgb(45, 121, 219);
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 2px;
    border-left: 3px solid rgba(214, 3, 3, 0.719);
    margin-right: 5px;
    margin-left: -37px;
   
    counter-increment: catalog;
    content: " " counter(catalog)
}

ol li:hover {
    background-color: rgba(0, 0, 139, 0.37);
    cursor: pointer;
}

ol li:hover::before {
    background-color: rgba(3, 27, 129, 0.733);
    border-left: 3px solid red;
}

ol li::after {
    content: url(/img/star.png);
    visibility: hidden;
}

ol li:hover::after {
    content: url(/img/star.png);
    visibility: visible;
}


footer {
    height: 60px;
    padding: 10px;
    padding-left: 0;
    border-top: 2px dashed rgb(184, 8, 8);
}

